<app-bread-crumb></app-bread-crumb>

<div class="card-wrapper">
    <div class="card">
        <h4 class="heading-text">RESET PASSWORD</h4>
      <form [formGroup]="resetPassword" (ngSubmit)="forgetPassword()">
        <div class="form-group">
          <label>Please provide your email</label>
          <input type="text" formControlName="email" class="form-control mb-3 mt-3">
          <button type="submit" [disabled]="!resetPassword.valid" class="btn btn-primary">Submit</button><br>
          <div class="text-center pt-2">
            <span class="pt-3 mx-auto d-block">Changed your mind? <a routerLink="/login" class="login-link">Login Now</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
