.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  .card {
    width: 400px; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .heading-text{
    color: darkblue;
  }