<div class="card">
  <h3 class="rgstrname">Change Password</h3>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="currentPassword">Current Password</label>
      <input type="password" formControlName="currentPassword" class="form-control mb-1 mt-1">
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" formControlName="newPassword" class="form-control mb-1 mt-1">
      <div
        *ngIf="passwordForm.controls['newPassword'].touched && passwordForm.controls['newPassword'].errors?.['pattern']"
        class="text-danger">
        Password must contain at least 8 characters including one letter, one number, and one special character.
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm New Password</label>
      <input type="password" formControlName="confirmPassword" class="form-control mb-1 mt-1"
        (click)="showError('confirmPassword')">
      <div
        *ngIf="passwordForm.controls['confirmPassword'].touched && passwordForm.controls['confirmPassword'].errors?.['required']"
        class="text-danger">
        Confirm Password is required.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>