.contentetxt{
    margin-bottom: 20px;
    font-weight: normal;
}
.homebtn{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.techlogo{
    text-align: center;
}
h1,h2,h3{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.contentetxt{
    text-align: center;
}
section.faq-section.uiInterface {
    background-color: rgb(233 233 233);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.introduction{
    margin-bottom: 6rem;
}
.main{
    margin-top: 1rem;
    margin-bottom: 8rem;
}
.tech_text{
    font-size: 52px; 
    margin-bottom: 2rem; 
    color: rgb(7, 47, 134);
}